# AWS Credentials
AWS_ACCESS_KEY_ID=AKIAUBKFCGCVAM4O7OEZ
AWS_SECRET_ACCESS_KEY='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
AWS_DEFAULT_REGION=us-east-1

# S3 Configuration
S3_BUCKET_NAME=ai-for-bharat-docs

# Amazon Bedrock Configuration
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v1
BEDROCK_LLM_MODEL_ID=amazon.titan-text-express-v1

# Amazon OpenSearch Configuration
OPENSEARCH_ENDPOINT=https://your-opensearch-endpoint
OPENSEARCH_INDEX_NAME=govmitra-rag-index

# DynamoDB Configuration
DYNAMODB_TABLE_NAME=govmitra-chat-history
